:root {
    --background-primary: #e76176;
    --background-secundary: #E75F74;
    --background-light: #c9013d;
    --background-rose: #f0b6be;
    --background-nav: #F61F60;
    --background-salmon: rgb(238, 141, 124);

    --black: #000;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: monospace;
    scroll-behavior: smooth;
}



body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;

}

/***-***-***-- H E A D E R --***-***-***/
header {
    background: var(--background-primary);
    display: flex;
    justify-content: space-around;
    position: relative;

}

.flecha-top {
    position: fixed;
    bottom: 80px;
    right: 40px;
    z-index: 12;
    transition: all .3s ease-in-out;
    opacity: .7;

}

.flecha-top:hover {
    transform: translateY(-10px);
    opacity: 1;

}

.logo-header img {
    height: auto;
    max-width: 100%;
    display: block;



}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;

}

.ul-navbar {
    list-style: none;
    display: flex;
    gap: 1.5rem;

}

.li-navbar {
    color: var(--white);
    text-decoration: none;
    font-size: 1.5rem;
    border: 2px solid var(--white);
    padding: 0.5rem;
    border-radius: 10px;
    transition: all .3s ease-in-out;

}

.item-navbar {
    background: linear-gradient(to top, var(--background-light) 0%, var(--background-nav) 55%, var(--background-nav)100%);
}

.ul-navbar li a:hover {
    color: var(--background-light);
}

.ul-navbar li .item-navbar:hover {
    color: var(--background-rose);
}

.check-menu {
    display: none;
}

.label-check {
    display: none;
}


/***-***-***-- S E C T I O N --***-***-***/

/* Contenido principal */
.contenido {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}




.transicion-top img {
    rotate: 180deg;
    max-width: 100%;
    height: 150px;
    display: block;
    margin: 0;

}

h2 {
    font-size: clamp(30px, 4vw, 50px);
    color: var(--background-light);
    text-transform: uppercase;
    text-align: center;

}

.info p {
    font-weight: bold;
    font-size: clamp(12px, 2vw, 20px);
    color: var(--background-primary);
}


.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}



.galeria-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    gap: 5rem;


}

.galeria-logos img {
    max-width: 20%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 9px;

}

.transicion-bottom img {
    max-width: 100%;
    height: 150px;
    display: block;

}


/* Contenido top ventas */

.background-gradient {
    background: linear-gradient(to bottom, var(--background-primary) 0%, var(--background-secundary)55%, var(--background-rose) 100%);
}

.top-ventas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 5rem;


}

.top-ventas a {
    display: flex;
    justify-content: center;

}

.top-ventas img {
    max-width: 70%;
    width: 450px;
    height: auto;
    border: 3px solid var(--background-nav);
    border-radius: 5px;
    background-color: var(--white);
    object-fit: cover;
    transition: all .3s ease-in-out;
    display: block;


}

.top {
    font-size: 6rem;
    color: var(--white);
    font-style: italic;
    border-bottom: 2px solid var(--white);

}

.top-ventas img:hover {
    transform: translateY(-10px);
    opacity: 1;
    cursor: pointer;
}


/* Contenido Quienes Somos */

.background-gradient-2 {
    background: linear-gradient(to bottom, var(--background-rose) 0%, var(--white)100%);

}

div .quienes-somos {
    width: 70%;
    height: auto;
    color: var(--background-nav);
    font-size: 1.5rem;
}

.img-tienda-frikon {
    max-width: 50%;
    width: 700px;
    height: auto;
    margin: 2rem;
    display: block;
}

/* Contenido Contacto */


.mapa {
    max-width: 100%;
    height: auto;
    display: block;
    border: 2px solid var(--background-primary);
    border-radius: 10px;
}

.info-contacto {
    margin: 3rem 1rem;
    text-align: center;
    font-style: italic;
    border-bottom: 2px solid var(--background-light);

}

.mapa-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 5rem 0;



}

.ul-contacto {
    list-style: none;
    color: var(--background-primary);
    font-weight: bold;

}

.ul-contacto li {
    margin: 0.5rem 0;
}


/* Logo contacto */
.contacto-logo{
    background-color: #c9013d;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenido aviso legal */

.aviso-legal {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 60%;
    margin-bottom: 10rem;

}

.aviso-legal h2 {
    border-bottom: 2px solid black;
    text-align: center;
    margin: 3.5rem 0;

}

.text-h3 {
    color: var(--background-nav);
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;

}

.span-rosa {
    color: var(--background-nav);
}

.ul-aviso-legal {
    display: flex;
    flex-direction: column;
    list-style: circle;
}

.text-aviso-legal {
    font-weight: bold;
    gap: 1rem;
}




/***-***-***-- F O O T E R --***-***-***/
footer {
    background: linear-gradient(to right,
            var(--background-light) 0%,
            var(--background-primary) 30%,
            var(--background-secundary) 50%,
            var(--background-primary) 70%,
            var(--background-light) 100%);

    display: grid;

    grid-template-columns: repeat(3, 1fr);
}

/* Lista contactos */

.direccion {
    display: flex;
    justify-content: center;
    align-items: center;

}

.ul-direccion {
    list-style: none;


}

.ul-direccion li a:hover {
    color: var(--background-salmon);
}

.icon-direccion-footer {
    max-width: 100%;
    height: auto;
    display: block;

}

.li-direccion a {
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
    transition: all .2s ease-in-out;
    display: flex;
    gap: 0.5rem;
    margin: 0.5rem 0;
}

.li-direccion {}

/* logo */

.logo-old {
    max-width: 100%;
    width: 150px;
    height: auto;
    display: block;
}

.footer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white);
    font-weight: bold;



}

/* Redes Sociales */

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;



}

.li-redes {
    list-style: none;

}

.li-redes img {
    max-width: 80%;
    width: 80px;
    height: auto;
    display: block;

}


/***-***-***-- M E D I A  Q U E R I E S --***-***-***/

@media (max-width: 481px) {
    header {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .contenido{
        justify-content: center;
        min-height: auto;

    }

    .logo-header {
        margin: 2rem;

    }

    .logo-header img {
        border: 5px solid var(--white);
        box-shadow: 0 0 12px 9px var(--background-rose);
        ;
        border-radius: 10px;

    }

    .label-check {
        display: block;

    }

    .menu-hamburguesa {
        cursor: pointer;


    }

    .ul-navbar {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100%;
        width: 100%;
        gap: 0;
        background: var(--background-salmon);
        margin: 0;
        opacity: 0;
        transform: translateY(-20px);
        pointer-events: none;
        transition: opacity 0.4s, transform 0.4s;
        z-index: 997;

    }

    .check-menu:checked~.ul-navbar {
        opacity: 100%;
        transform: translateY(0);
        pointer-events: auto;
    }

    .li-navbar {
        color: var(--white);
        text-decoration: none;
        font-size: 1.5rem;
        border: none;
        padding: 0;
        border-radius: 0;
        transition: all .3s ease-in-out;

    }

    .ul-navbar li {
        height: 60px;

    }

    .ul-navbar li a {
        display: flex;

        height: 100%;
        justify-content: center;
        align-items: center;

    }


    .item-navbar {
        background: linear-gradient(to bottom, var(--background-light) 0%, var(--background-nav) 55%, var(--background-nav)100%);
        border-radius: 5px;
        border: 1px solid var(--white);
        box-shadow: 0 0 12px 5px var(--background-rose);
    }

    .flecha-top {
        bottom: 10px;

    }


    .transicion-top img {
        height: 50px;
    }

    .transicion-bottom img {
        height: 50px;

    }

    .info {
        margin-top: 3rem;

    }

    h2 {
        font-size: 2rem;
        text-align: center;
    }

    .galeria-logos img {
        max-width: 100%;
        width: 250px;
        height: auto;
        display: block;

    }

    .top-ventas {
        flex-direction: column;
        gap: 2rem;

    }

    .top-ventas img {
        max-width: 100%;
        width: 250px;
        height: auto;
        display: block;

    }

    .top {
        font-size: 3rem;
    }

    .img-tienda-frikon {
        max-width: 100%;
        width: 400px;
        height: auto;
        display: block;

    }


    div .quienes-somos {
        width: 80%;
        font-size: 1rem;
        
    }

    .info-contacto {
        margin: 2.5rem 1rem;
        

    }


    .mapa-contacto {
        padding: 1.5rem;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        
    }

    .aviso-legal {
        max-width: 80%;
    }

    .aviso-legal h2 {
        margin: 3rem 0 2rem 0;

    }

    footer {
        background: linear-gradient(to right,
                var(--background-light) 10%,
                var(--background-secundary) 70%,
                var(--background-primary) 100%);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    .footer-img img {
        display: none;
    }

    .footer-img {
        order: 3;
        font-weight: bold;
    }

    .footer-img p {
        font-size: 0.8rem;
    }


    .ul-redes {
        gap: 0;
        margin: 1rem;

    }


    .li-redes img {
        width: 50%;

    }

    .li-direccion a {
        font-size: 0.8rem;
    }


}




@media (min-width: 480px) and (max-width: 1024px) {

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .contenido{
        justify-content: center;
        min-height: auto;

    }

    .logo-header {
        padding: 1rem;

    }

    .logo-header img {
        border: 5px solid var(--white);
        box-shadow: 0 0 12px 9px var(--background-rose);
        border-radius: 10px;

    }

    .label-check {
        display: block;

    }

    .menu-hamburguesa {
        cursor: pointer;


    }

    .ul-navbar {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100%;
        width: 100%;
        gap: 0;
        background-color: var(--background-salmon);
        margin: 0;
        opacity: 0;
        transform: translateY(-20px);
        pointer-events: none;
        transition: opacity 0.4s, transform 0.4s;
        z-index: 998;

    }

    .check-menu:checked~.ul-navbar {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .li-navbar {
        color: var(--white);
        text-decoration: none;
        font-size: 1.5rem;
        border: none;
        padding: 0;
        border-radius: 0;
        transition: all .3s ease-in-out;

    }

    .ul-navbar li {
        height: 60px;

    }

    .ul-navbar li a {
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;

    }

    .ul-navbar li :hover {
        background: var(--background-rose);

    }

    .ul-navbar li .item-navbar:hover {
        color: var(--background-light);

    }

    .item-navbar {
        background: linear-gradient(to bottom, var(--background-light) 0%, var(--background-nav) 55%, var(--background-nav)100%);
        border-radius: 5px;
        border: 1px solid var(--white);
        box-shadow: 0 0 12px 5px var(--background-rose);
    }

    .flecha-top {
        bottom: 10px;

    }

    .transicion-top img {
        height: 80px;
    }

    .transicion-bottom img {
        height: 80px;

    }

    .info {
        margin-top: 2rem;

    }



    .galeria-logos img {
        max-width: 100%;
        width: 250px;
        height: auto;
        display: block;


    }


    .top-ventas {
        flex-direction: column;
        gap: 2rem;

    }

    .top-ventas img {
        max-width: 100%;
        width: 250px;
        height: auto;

    }

    .top {
        font-size: 3.5rem;
    }

    .img-tienda-frikon {
        max-width: 100%;
        width: 400px;
        height: auto;

    }

    div .quienes-somos {
        width: 80%;
        font-size: 1rem;

    }

    .info-contacto {
        margin: 1.5rem 1rem;
        
    }

    .mapa-contacto {
        padding: 1.5rem;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
    }

    .aviso-legal {
        max-width: 80%;
    }

    .aviso-legal h2 {
        margin: 3rem 0 2rem 0;

    }


    footer {
        background: linear-gradient(to right,
                var(--background-light)10%,
                var(--background-secundary) 70%,
                var(--background-primary) 100%);
        display: flex;
        flex-direction: column;
    }

    .ul-direccion {
        display: grid;
        justify-content: center;
        margin-left: 5rem;
    }

    .footer-img img {
        display: none;
    }

    .footer-img {
        order: 3;
        font-weight: bold;

    }


    .ul-redes {

        margin: 0.8rem;
    }

    .li-redes img {
        width: 60px;
    }


}