<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index,follow">
    <!--COLOCAR LA URL EXACTA DE CADA PAGINA-->
    <link rel="canonical" href="index.html">
    <link rel="icon" type="image/png" href="../images/index/logo-pestaña.png">
    <link rel="stylesheet" href="../css/style.css">

    <title>Frikon - Juegos de cartas y articulos frikis</title>
</head>

<body>
    <header>
        <div class="logo-header">
            <img src="../images/index/logo-frikon.png" alt="Logo Frikon" width="447" height="173">
        </div>
        <nav class="navbar">
            <input type="checkbox" id="check-menu" class="check-menu">

            <ul class="ul-navbar">
                <li><a href="../index.html" class="li-navbar ">Inicio</a></li>
                <li><a href="./productos.html" class="li-navbar ">Productos</a></li>
                <li><a href="./contacto.html" class="li-navbar item-navbar">Contacto</a></li>
                <li><a href="./presupuesto.html" class="li-navbar">Presupuesto</a></li>
            </ul>
            <label for="check-menu" class="label-check">
                <img src="../images/index/menu-kebab-vertical-svgrepo-com.svg" alt="logo menu hamburguesa"
                    class="menu-hamburguesa" width="50" height="50">
            </label>
        </nav>


    </header>
    <main>
        <div class="flecha-top">
            <a href="#">
                <img src="../images/index/top-so-svgrepo-com.svg" alt="Icono de flecha hacia arriba" width="50"
                    height="50">
            </a>
        </div>
        <div class="transicion-top">
            <img src="../images/index/transicion.png" alt="Transicion a otra seccion" width="1920" height="226">
        </div>

        <section>
            <!-- En esta pagina colocamos la direccion de la empresa y la informacion del aviso legal-->
            <div class="contenedor">
                <div class="info-contacto">
                    <h2 id="mapa">Contacto</h2>

                </div>
                <div class="mapa-contacto">
                    <a href="https://maps.app.goo.gl/RgofqjR6Y5LaRGeXA" target="_blank">
                        <img src="../images/contacto/mapa-frikon.png" alt="Mapa de la tienda Frikon" width="667"
                            height="340" class="mapa">
                    </a>
                    <ul class="ul-contacto">
                        <li>C/Sevilla, 6, 29530 Alameda, Málaga.</li>
                        <li>frikoncolecciones@gmail.com</li>
                        <li>690 598 520</li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="contacto-logo">
            <img src="../images/index/logo-blanco.png" alt="logo cartas con fantasma de frikon" class="logo-old">

        </div>
        <!-- Seccion aviso legal -->
        <section class="contenido">
            <div class="aviso-legal">
                <h2 id="aviso-legal">📄 Aviso legal</h2>
                <ul class="ul-aviso-legal text-aviso-legal">
                    <li><span class="span-rosa">Titular del sitio web:</span> Frikon</li>
                    <li><span class="span-rosa">URL:</span> www.frikoncolecciones.com</li>
                    <li><span class="span-rosa">Correo electrónico de contacto:</span> frikoncolecciones@gmail.com</li>
                    <li><span class="span-rosa">Teléfono de contacto:</span> 690 598 520</li>
                    <li><span class="span-rosa">Dirección:</span> C/ Sevilla, 6, 29530 Alameda, Málaga</li>
                </ul>
                <h3 class="text-h3">1. Identificación del titular</h3>
                <p class="text-aviso-legal">En cumplimiento de la Ley 34/2002, de 11 de julio, de servicios de la
                    sociedad
                    de la información y de comercio electrónico, se informa que este sitio web pertenece a un proyecto
                    académico ficticio de nombre Frikon, sin finalidad comercial real.</p>
                <h3 class="text-h3">2. Objeto</h3>
                <p class="text-aviso-legal">El presente sitio web tiene por objeto mostrar un ejemplo de tienda online
                    dedicada a la venta de cartas coleccionables y productos relacionados con el mundo friki, como parte
                    de
                    un trabajo formativo. No se realiza ninguna actividad comercial real ni se recopilan datos
                    personales
                    con fines lucrativos.</p>
                <h3 class="text-h3">3. Propiedad intelectual e industrial</h3>
                <p class="text-aviso-legal">Todos los contenidos de este sitio web, incluyendo textos, imágenes y diseño
                    gráfico, son ficticios o utilizados con fines educativos. Las marcas mostradas pertenecen a sus
                    respectivos propietarios y se utilizan como parte de un ejercicio académico sin intención de
                    infracción.
                </p>
                <h3 class="text-h3">4. Responsabilidad</h3>
                <p class="text-aviso-legal">El titular no se hace responsable del uso indebido de los contenidos
                    presentados
                    en esta web ni de los enlaces a sitios externos. Este sitio es solo una maqueta de práctica y no
                    representa una tienda activa.</p>
                <h3 class="text-h3">5. Protección de datos</h3>
                <p class="text-aviso-legal">No se recopilan ni tratan datos personales a través de este sitio. Cualquier
                    formulario o dirección de contacto incluida se entiende como parte del diseño de muestra.</p>
                <h3 class="text-h3">6. Modificaciones</h3>
                <p class="text-aviso-legal">El titular se reserva el derecho de modificar en cualquier momento la
                    información aquí presentada, sin necesidad de previo aviso, al ser un entorno de pruebas.</p>

            </div>
        </section>
    </main>
    <footer>

        <div class="direccion">
            <ul class="ul-direccion">
                <li class="li-direccion">

                    <a href="mailto:frikoncolecciones@gmail.com"><img src="../images/index/mail-alt-svgrepo-com.svg"
                            alt="Icono mail" class="icon-direccion-footer">frikoncolecciones@gmail.com</a>
                </li>
                <li class="li-direccion">

                    <a href="tel:+34690598520"><img src="../images/index/phone-svgrepo-com.svg" alt="Icono telefono"
                            class="icon-direccion-footer">690 598 520</a>
                </li>
                <li class="li-direccion">

                    <a href="#mapa"><img src="../images/index/location-pin-svgrepo-com.svg"
                            alt="Icono localizacion mapa" class="icon-direccion-footer">C/Sevilla, 6, 29530 Alameda,
                        Málaga.</a>
                </li>
                <li class="li-direccion">

                    <a href="#aviso-legal"><img src="../images/index/warning-circle-svgrepo-com.svg"
                            alt="Icono advertencia para aviso legal" class="icon-direccion-footer">Aviso legal</a>
                </li>
            </ul>
        </div>

        <div class="footer-img">
            <img src="../images/index/logo-blanco.png" alt="logo cartas con fantasma de frikon" class="logo-old">
            <p> &#169; 2025 Frikon tcg & más. </p>
        </div>

        <div class="redes">
            <ul class="ul-redes">
                <li class="li-redes">
                    <a href="https://x.com" title="enlace a X" target="_blank">
                        <img src="../images/index/icons8-x-logo.svg" alt="Logo de la red social X" width="2000"
                            height="2000">
                    </a>
                </li>
                <li class="li-redes">
                    <a href="https://facebook.com" title="enlace a Facebook" target="_blank">
                        <img src="../images/index/facebook-svgrepo-com.svg" alt="Logo de Facebook" width="2000"
                            height="2000">
                    </a>
                </li>
                <li class="li-redes">
                    <a href="https://instagram.com" title="enlace a instagram" target="_blank">
                        <img src="../images/index/instagram-svgrepo-com.svg" alt="Logo de Instagram" width="2000"
                            height="2000">
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>

</html>