<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Descubre todos los productos TCG, figuras y merchandising en Frikon. Pokémon, Magic, Yu-Gi-Oh! y mucho más.">
    <meta name="keywords"
        content="Frikon, cartas TCG, Pokémon, Magic, Yu-Gi-Oh!, artículos frikis, figuras, tienda online">
    <meta name="robots" content="index,follow">
    <!--COLOCAR LA URL EXACTA DE CADA PAGINA -->
    <link rel="canonical" href="index.html">
    <link rel="icon" type="image/png" href="../images/index/logo-pestaña.png">
    <link rel="stylesheet" href="../css/style.css">

    <title>Frikon - Juegos de cartas y articulos frikis</title>
</head>

<body>
    <header>
        <div class="logo-header">
            <img src="../images/index/logo-frikon.png" alt="Logo Frikon" width="447" height="173">
        </div>
        <nav class="navbar">
            <input type="checkbox" id="check-menu" class="check-menu">

            <ul class="ul-navbar">
                <li><a href="../index.html" class="li-navbar ">Inicio</a></li>
                <li><a href="./productos.html" class="li-navbar item-navbar">Productos</a></li>
                <li><a href="./contacto.html" class="li-navbar ">Contacto</a></li>
                <li><a href="./presupuesto.html" class="li-navbar">Presupuesto</a></li>
            </ul>
            <label for="check-menu" class="label-check">
                <img src="../images/index/menu-kebab-vertical-svgrepo-com.svg" alt="logo menu hamburguesa"
                    class="menu-hamburguesa" width="50" height="50">
            </label>
        </nav>


    </header>
    <main>
        
        <div class="flecha-top">
            <a href="#">
                <img src="../images/index/top-so-svgrepo-com.svg" alt="Icono de flecha hacia arriba" width="50"
                    height="50">
            </a>
        </div>
        <div class="transicion-top">
            <img src="../images/index/transicion.png" alt="Transicion a otra seccion" width="1920" height="226">
        </div>
        <!-- Estas 3 secciones estan dedicadas a nuestros productos que van presentados como una galeria de imagenes-->
        <section class="contenido-galeria">
            <div class="encabezado-galeria">
                <img src="../images/productos/tcg.png" alt="Encabezado tcg" class="encabezado-tcg">
            </div>
            <div class="galeria-productos">
                <div class="item-galeria-productos">
                    <img src="../images/productos/booster-box-duelist-nexus-yu-gi-oh-english.jpg"
                        alt="Booster box Yu-Gi-Oh" width="1200" height="1200" class="producto-img">
                    <div class="descripcion-producto">
                        <h3>Yu-Gi-Oh Duelist Nexus</h3>
                        <img src="../images/productos/down-2-svgrepo-com.svg"
                            alt="Icono flecha hacia abajo para desplegar " width="800" height="800">
                    </div>

                </div>
                <div class="item-galeria-productos">
                    <img src="../images/productos/digimon-adventure.png" alt="Booster box digimon-adventure" width="800"
                        height="600" class="producto-img">
                    <div class="descripcion-producto">
                        <h3>Digimon Adventure Being</h3>
                        <img src="../images/productos/down-2-svgrepo-com.svg"
                            alt="Icono flecha hacia abajo para desplegar " width="800" height="800">
                    </div>

                </div>
                <div class="item-galeria-productos">
                    <img src="../images/productos/lorcana-floodborn.jpg" alt="Booster box Lorcana" width="894"
                        height="894" class="producto-img">
                    <div class="descripcion-producto">
                        <h3>Lorcana Rise of the FloodBoorn</h3>
                        <img src="../images/productos/down-2-svgrepo-com.svg"
                            alt="Icono flecha hacia abajo para desplegar " width="800" height="800">
                    </div>

                </div>
                <div class="item-galeria-productos">
                    <img src="../images/productos/magic-starter-kit.png" alt="Booster box Magic" width="700"
                        height="700" class="producto-img">
                    <div class="descripcion-producto">
                        <h3>Magic Starter kit</h3>
                        <img src="../images/productos/down-2-svgrepo-com.svg"
                            alt="Icono flecha hacia abajo para desplegar " width="800" height="800">
                    </div>

                </div>

                <div class="item-galeria-productos">
                    <img src="../images/productos/vivid-voltage-elite-trainer-box-pokemon.webp"
                        alt="Booster box Pokemon vivid voltage " width="1500" height="1500" class="producto-img">
                    <div class="descripcion-producto">
                        <h3>Pokemon Vivid Voltage</h3>
                        <img src="../images/productos/down-2-svgrepo-com.svg"
                            alt="Icono flecha hacia abajo para desplegar " width="800" height="800">
                    </div>

                </div>

                <div class="item-galeria-productos" id="pokemon">
                    <img src="../images/productos/Pokemon-151-Ultra-Premium-Collection.webp"
                        alt="Booster box Pokemon 151" width="530" height="530" class="producto-img">
                    <div class="descripcion-producto">
                        <h3>Pokemon Scarlet & Violet 151</h3>
                        <img src="../images/productos/down-2-svgrepo-com.svg"
                            alt="Icono flecha hacia abajo para desplegar " width="800" height="800">
                    </div>

                </div>
                <div class="item-galeria-productos" id="one-piece">
                    <img src="../images/productos/caja-sobres-one-piece-panini.jpg" alt="Booster One piece" width="2000"
                        height="2000" class="producto-img">
                    <div class="descripcion-producto">
                        <h3>One Piece Edicion Especial</h3>
                        <img src="../images/productos/down-2-svgrepo-com.svg"
                            alt="Icono flecha hacia abajo para desplegar " width="800" height="800">
                    </div>

                </div>

            </div>
        </section>
        <section class="contenido-galeria">
            <div class="encabezado-galeria">
                <img src="../images/productos/figuras.png" alt="Encabezado figuras" width="950" height="150">
            </div>
            <div class="galeria-productos">
                <div class="item-galeria-productos">
                    <img src="../images/productos/the-legend-of-zelda-link-tears-of-the-kingdom-ver-dx-edition-figma-action-figure-15cm-1.jpg"
                        alt="Figura articulable link totk" width="700" height="750" class="producto-img">
                    <div class="descripcion-producto">
                        <h3>Link Tears of the Kingdom <br> DX Edition Figma Action (15cm)</h3>
                        <img src="../images/productos/down-2-svgrepo-com.svg"
                            alt="Icono flecha hacia abajo para desplegar " width="800" height="800">

                    </div>

                </div>
                <div class="item-galeria-productos">
                    <img src="../images/productos/Son_Goku_y_Freezer_Frontal.webp"
                        alt="Estatuilla Goku derrotando a freezer" width="723" height="904" class="producto-img">
                    <div class="descripcion-producto">
                        <h3>Figura Son Goku y Freezer <br> Dragon Ball</h3>
                        <img src="../images/productos/down-2-svgrepo-com.svg"
                            alt="Icono flecha hacia abajo para desplegar " width="800" height="800">
                    </div>

                </div>
                <div class="item-galeria-productos">
                    <img src="../images/productos/figur-berserk.jpeg" alt="Figura Guts con la armadura berserk"
                        width="600" height="800" class="producto-img">
                    <div class="descripcion-producto">
                        <h3>Estatua Guts, Berserk<br>Línea “Pop Up Parade”</h3>
                        <img src="../images/productos/down-2-svgrepo-com.svg"
                            alt="Icono flecha hacia abajo para desplegar " width="800" height="800">
                    </div>

                </div>
                <div class="item-galeria-productos">
                    <img src="../images/productos/stitch-con-ukelele-disney-funko-pop.webp"
                        alt="Funko stitch tocando el ukelele" width="800" height="800" class="producto-img">
                    <div class="descripcion-producto">
                        <h3>Funko pop Lilo & Stich<br>Figura de Vinilo Stitch </h3>
                        <img src="../images/productos/down-2-svgrepo-com.svg"
                            alt="Icono flecha hacia abajo para desplegar " width="800" height="800">
                    </div>

                </div>

            </div>
        </section>
        <section class="contenido-galeria">
            <div class="encabezado-galeria">
                <img src="../images/productos/accesorios.png" alt="Encabezado accesorios" width="1350" height="150">
            </div>
            <div class="galeria-productos">
                <div class="item-galeria-productos">
                    <img src="../images/productos/100-fundas-cartas-transparentes-ultra-pro-platinum-premium-63x88.jpg"
                        alt="Fundas transparentes tcg" width="600" height="800" class="producto-img">
                    <div class="descripcion-producto">
                        <h3>100 fundas transparentes <br> Ultra PRO</h3>
                        <img src="../images/productos/down-2-svgrepo-com.svg"
                            alt="Icono flecha hacia abajo para desplegar " width="800" height="800">
                    </div>

                </div>
                <div class="item-galeria-productos">
                    <img src="../images/productos/toploader-3-x-4.jpg" alt="Fundas Top loader" width="900" height="1054"
                        class="producto-img">
                    <div class="descripcion-producto">
                        <h3>10 Fundas Toploader, 3" x 4"</h3>
                        <img src="../images/productos/down-2-svgrepo-com.svg"
                            alt="Icono flecha hacia abajo para desplegar " width="800" height="800">
                    </div>

                </div>
                <div class="item-galeria-productos">
                    <img src="../images/productos/album-480-cartas-sunnystore.jpeg" alt="Album para cartas" width="1200"
                        height="1200" class="producto-img">
                    <div class="descripcion-producto">
                        <h3>Album para cartas con cremallera <br> capacidad para 480 cartas</h3>
                        <img src="../images/productos/down-2-svgrepo-com.svg"
                            alt="Icono flecha hacia abajo para desplegar " width="800" height="800">
                    </div>


                </div>


            </div>
        </section>
    </main>
    <footer>

        <div class="direccion">
            <ul class="ul-direccion">
                <li class="li-direccion">

                    <a href="mailto:frikoncolecciones@gmail.com"><img src="../images/index/mail-alt-svgrepo-com.svg"
                            alt="Icono mail" class="icon-direccion-footer">frikoncolecciones@gmail.com</a>
                </li>
                <li class="li-direccion">

                    <a href="tel:+34690598520"><img src="../images/index/phone-svgrepo-com.svg" alt="Icono telefono"
                            class="icon-direccion-footer">690 598 520</a>
                </li>
                <li class="li-direccion">

                    <a href="./contacto.html#mapa"><img src="../images/index/location-pin-svgrepo-com.svg"
                            alt="Icono localizacion mapa" class="icon-direccion-footer">C/Sevilla, 6, 29530 Alameda,
                        Málaga.</a>
                </li>
                <li class="li-direccion">

                    <a href="./contacto.html#aviso-legal"><img src="../images/index/warning-circle-svgrepo-com.svg"
                            alt="Icono advertencia para aviso legal" class="icon-direccion-footer">Aviso legal</a>
                </li>
            </ul>
        </div>

        <div class="footer-img">
            <img src="../images/index/logo-blanco.png" alt="logo cartas con fantasma de frikon" class="logo-old">
            <p> &#169; 2025 Frikon tcg & más. </p>
        </div>

        <div class="redes">
            <ul class="ul-redes">
                <li class="li-redes">
                    <a href="https://x.com" title="enlace a X" target="_blank">
                        <img src="../images/index/icons8-x-logo.svg" alt="Logo de la red social X" width="2000"
                            height="2000">
                    </a>
                </li>
                <li class="li-redes">
                    <a href="https://facebook.com" title="enlace a Facebook" target="_blank">
                        <img src="../images/index/facebook-svgrepo-com.svg" alt="Logo de Facebook" width="2000"
                            height="2000">
                    </a>
                </li>
                <li class="li-redes">
                    <a href="https://instagram.com" title="enlace a instagram" target="_blank">
                        <img src="../images/index/instagram-svgrepo-com.svg" alt="Logo de Instagram" width="2000"
                            height="2000">
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>

</html>