<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Tienda online de cartas TCG, coleccionismo y artículos frikis. Encuentra Pokémon, Magic, Yu-Gi-Oh!, merchandising, figuras, juegos y mucho más. ¡Todo para fans y coleccionistas!">
    <meta name="keywords"
        content="Frikon, cartas TCG, Pokémon, Magic, Yu-Gi-Oh!, artículos frikis, figuras, tienda online">
    <meta name="robots" content="index,follow">
    <!--COLOCAR LA URL EXACTA DE CADA PAGINA 
IMPORTANTE
OOO
OO
-->
    <link rel="canonical" href="index.html">
    <link rel="icon" type="image/png" href="../images/index/logo-pestaña.png">
    <link rel="stylesheet" href="../css/style.css">

    <title>Frikon - Juegos de cartas y articulos frikis</title>
</head>

<body>
    <header>
        <div class="logo-header">
            <img src="../images/index/logo-frikon.png" alt="Logo Frikon" width="447" height="173">
        </div>
        <nav class="navbar">
            <input type="checkbox" id="check-menu" class="check-menu">

            <ul class="ul-navbar">
                <li><a href="../index.html" class="li-navbar ">Inicio</a></li>
                <li><a href="../views/productos.html" class="li-navbar item-navbar">Productos</a></li>
                <li><a href="../views/contacto.html" class="li-navbar ">Contacto</a></li>
                <li><a href="" class="li-navbar">Presupuesto</a></li>
            </ul>
            <label for="check-menu" class="label-check">
                <img src="../images/index/menu-kebab-vertical-svgrepo-com.svg" alt="logo menu hamburguesa"
                    class="menu-hamburguesa" width="50" height="50">
            </label>
        </nav>


    </header>
    <div class="flecha-top">
        <a href="#">
            <img src="../images/index/top-so-svgrepo-com.svg" alt="Icono de flecha hacia arriba" width="50" height="50">
        </a>
    </div>
    <div class="transicion-top">
        <img src="../images/index/transicion.png" alt="Transicion a otra seccion" width="1920" height="226">
    </div>
    <section class="contenido">
        <div class="encabezado-galeria">
            <img src="" alt="">
        </div>
        <div class="galeria-productos">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">


        </div>


    </section>
    <footer>

        <div class="direccion">
            <ul class="ul-direccion">
                <li class="li-direccion">

                    <a href="mailto:frikoncolecciones@gmail.com"><img src="../images/index/mail-alt-svgrepo-com.svg"
                            alt="Icono mail" class="icon-direccion-footer">frikoncolecciones@gmail.com</a>
                </li>
                <li class="li-direccion">

                    <a href="tel:+34690598520"><img src="../images/index/phone-svgrepo-com.svg" alt="Icono telefono"
                            class="icon-direccion-footer">690 598 520</a>
                </li>
                <li class="li-direccion">

                    <a href="#mapa"><img src="../images/index/location-pin-svgrepo-com.svg" alt="Icono localizacion mapa"
                            class="icon-direccion-footer">C/Sevilla, 6, 29530 Alameda,
                        Málaga.</a>
                </li>
                <li class="li-direccion">

                    <a href="#aviso-legal"><img src="../images/index/warning-circle-svgrepo-com.svg"
                            alt="Icono advertencia para aviso legal" class="icon-direccion-footer">Aviso legal</a>
                </li>
            </ul>
        </div>

        <div class="footer-img">
            <img src="../images/index/logo-blanco.png" alt="logo cartas con fantasma de frikon" class="logo-old">
            <p> &#169; 2025 Frikon tgc & más. </p>
        </div>

        <div class="redes">
            <ul class="ul-redes">
                <li class="li-redes">
                    <a href="https://x.com" title="enlace a X" target="_blank">
                        <img src="../images/index/icons8-x-logo.svg" alt="Logo de la red social X" width="2000" height="2000">
                    </a>
                </li>
                <li class="li-redes">
                    <a href="https://facebook.com" title="enlace a Facebook" target="_blank">
                        <img src="../images/index/facebook-svgrepo-com.svg" alt="Logo de Facebook" width="2000" height="2000">
                    </a>
                </li>
                <li class="li-redes">
                    <a href="https://instagram.com" title="enlace a instagram" target="_blank">
                        <img src="../images/index/instagram-svgrepo-com.svg" alt="Logo de Instagram" width="2000"
                            height="2000">
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>

</html>